
<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1585951237318-9ea5e175b891?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
  <div class="container">
    <h1>Welcome to <br><strong>MyMovies</strong> <i class="fa-solid fa-video"></i> !</h1>
    <%# <p>Change your life and learn to code at one of our campuses around the world.</p> %>
    </div>
</div>

<div class="container">
<!--
    <div class="button-new">
    <%= link_to new_list_path do %>
      <button class="btn btn-success">Create a new list !</button>
    <% end %>
    </div>
-->

  <div class="cards-display">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class: "text-decoration-none" do %>
        <div class="card-category" style="background-image:  url('https://source.unsplash.com/random?<%= list.name %>')">
          <p><%= list.name %></p>
        </div>
      <% end %>
    <% end %>
    <div class="button-new d-flex justify-content-center align-items-center">
      <%= link_to new_list_path do %>
        <button class="btn btn-success">Create a new list !</button>
      <% end %>
    </div>
  </div>
</div>



<%# PRATIQUE POUR AVOIR UNE IMAGE ALEATOIRE BASEE SUR LE MOT CLE:
style="background-image:  url('https://source.unsplash.com/random?<%= list.name %>
