<div class="container">

  <div class="card-list-header" style="background-image: url('<%= @list.photo.attached? ? (cl_image_path @list.photo.key, height: 300, width: 500, crop: :fill) : ('https://images.unsplash.com/photo-1535016120720-40c646be5580?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') %>');">
    <h4><%= @list.name %></h4>
  </div>

  <div class="card-list">
    </div>
      <div class="cards-display">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card-list p-2 card-relative">
              <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i id="remove" class="fa-solid fa-circle-xmark"></i>
              <% end %>
            <%= image_tag bookmark.movie.poster_url %>
            <div class="movie-text py-3">
                <h2><%= bookmark.movie.title %></h2>
                <p> <%= bookmark.movie.overview %></p>
            </div>
            <%# <div class="d-flex justify-content-start"> %>
              <p id="tag-comment"><i class="fa-regular fa-comment"></i> <%= bookmark.comment %></p>
            <%# </div> %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="back-plus-new">
      <%= link_to lists_path do %>
              <button class="btn btn-warning" style="margin: 45px;">Back to lists !</button>
      <% end %>
      <%= link_to new_list_bookmark_path(@list) do %>
              <button class="btn btn-success" style="margin: 45px;">Add a bookmark !</button>
      <% end %>
  </div>
</div>
